<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BIM业务数据</title>
    <!-- 引入 echarts.js -->
    <script src="/static/echarts.min.js"></script>
</head>
<body>

<h1>1、BIM全业务数据图</h1>

<div> <iframe src="./static/bim_total.html" width="100%" height="600" ></iframe></div>

<h1>2、BIM项目经营地图</h1>

<div> <iframe src="./static/bim_map.html" width="100%" height="600" ></iframe></div>

<h1>3、BIM研发与业务对比</h1>

<div> <iframe src="./static/bim_inner.html" width="100%" height="600" ></iframe></div>

<h2>BIM研发与业务对比2</h2>

<div> <img src ="./static/bimvs.png" width="100%"> </div>


<h1>4、BIM合同分析图1</h1>

<div> <img src ="./static/bimhetong.jpg" width="100%"> </div>

<h1>5、BIM合同分析图2</h1>

<div> <img src ="./static/bimhetong2.jpg" width="100%"> </div>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('pyecharts_pie'));
    // 指定图表的配置项和数据
    var option = {{ pie_options | safe }};
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

<div style="height: 300px"></div>
</body>
</html>